streamlit==1.25.0
yfinance==0.2.28
nltk==3.8.1
pandas==2.1.4
numpy==1.23.5
scikit-learn==1.6.1
rank_bm25==0.2.2
sentence-transformers==2.2.2
transformers==4.34.0
torch==2.2.0
setuptools>=65.5.0
